@charset "utf-8";
*{
  margin:0;
  padding:0;
  box-sizing: 0;
  font-family: 'Open Sans', sans-serif;
}

navssss{
  background-color: rgba(18, 109, 206, 1.5);

  
}































footer{
  color: white;
  background-color: #252727;
  padding: 3vh;
  padding-bottom: 0%;
  width: 100%;
  position: relative;
  bottom: 0;
  
}


.mainssss{
  display:flex;
  justify-content: space-around;
}

.navssss{
  display: block;
  padding: 3%;
  padding: 1px;
}

.navssss > a{
  text-decoration: none;
  color: white;
}

footer > section{
  word-break: break-word;
}


a{
  display: block;
}

img{
  padding-left: 10vh;
  height: 7vh;
}
.navssss > a >img{
  height: 3vh;
  padding: 1px;
}












#paywayssss{
  margin:auto;
}

#lastssss, .navssss{
  text-align:center;

}

#linessss{
  margin: auto;
  background: white;
  width: 70%;
  border-radius: 20px 20px 0px 0px;
}