<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="fixos.css">
   <link rel="stylesheet" href="lista.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<title>lista de viagens</title> 
</head>
<body >
<div th:replace="static :: navbar"></div>
	<div class="container">

		<h1 class="">Formulario de Viagens </h1>
		
		
		<button type="button" class="btn btn-outline-info"><a href="/add" >Adicionar uma nova viagem</a></button>
		<br>
		<br>
		
		<table class="table" >
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">id</th>
		      <th scope="col">Título</th>
		      <th scope="col">Descrição</th>
		      <th scope="col">País</th>
		      <th scope="col">Estado</th>
		      <th scope="col">Cidade</th>
		      <th scope="col">Valor</th>
		    </tr>
		  </thead>
		  <tbody th:each="viagem :${viagens}">
		    <tr>
		      <th scope="row"><p th:text="${viagem.id}"> <p></th>
		      <td><p th:text="${viagem.titulo}"> <p></td>
		      <td><p th:text="${viagem.descricao}"> <p></td>
		      <td><p th:text="${viagem.pais}"> <p></td>
		      <td><p th:text="${viagem.estado}"> <p></td>
		      <td><p th:text="${viagem.cidade}"> <p></td>
		      <td><p th:text="${viagem.preco}"> <p></td>
		    </tr>
		  </tbody>
		</table>
		<!--<a th:href="${(#mvc.url('VC#usersViagem').arg(0, viagem.id)).build()}"><span th:text="${viagem.id}"> </span></a>
	   -->  
			
	</div>	
		<div th:replace="static :: footer"></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>